@model LearningSystem.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Exercise</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.LessonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lesson.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Questions)
            </dt>
            @foreach (var item in Model.Questions)
            {
                <dd>
                    @Html.ActionLink(item.Statement, "Details", "Questions", new { area = "Administration", id = item.QuestionId }, null)
                </dd>
            }  
    </dl>
</fieldset>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
