@model IEnumerable<LearningSystem.App.ViewModels.ExerciseViewModel>

@{
    ViewBag.Title = ViewBag.Lesson.Name;
}

@Html.ActionLink("back to lessons", "Index", "Skill", new { skillId=ViewBag.SkillId }, new { @class = "btn" })

<h1 class="text-center">@ViewBag.Lesson.Name</h1>
<h2 class="text-center">Exercises</h2>
<hr />

<section class="text-center">

    @foreach (var item in Model)
    {
        if (item.IsAvailable)
        {
            if (item.IsCompleted)
            {
                <a href="/Exercise/Index?exId=@item.ExerciseId" class="btn excercise btn-inverse skill-container" data-toggle="tooltip" data-placement="bottom"
                   title="@item.Description">
                    <img src="~/img/exercise-completed.png" width="110" height="115" alt="Completed" />
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            }
            else
            {
                <a href="/Exercise/Index?exId=@item.ExerciseId" class="btn excercise btn-info skill-container" data-toggle="tooltip" data-placement="bottom"
                   title="@item.Description">
                    <img src="~/img/exercise-not-completed.png" width="110" height="115" alt="Not completed" />
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            }
        }
        else
        {
            <span class="btn excercise btn-warning skill-container" data-toggle="tooltip" data-placement="bottom"
                  title="You must complete the previous lessons first!">
                <img src="~/img/padlock.png" width="110" height="115" alt="Locked" />
                @Html.DisplayFor(modelitem => item.Name)
            </span>

        }
    }
</section>

<script>
    $(document).ready(function () {
        $(".excercise").tooltip();
    });
</script>
