@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@foreach (var item in Model)
{
    <h4>
        @if (!item.OwnedByUser)
        {
            @Ajax.ActionLink("Sign Up", "SignUpForSkill", "Skill", new { skillId = item.SkillId }, new AjaxOptions()
            {
                HttpMethod = "GET",

                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "signup-message"
            }, new { @class = "signup-skill" })
            
            <span class="label label-info skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon  icon-plus-sign"></i> @item.SkillName
            </span>
        }
        else
        {
            
            @Html.ActionLink("Signed", "Index", "Skill", new { skillId = item.SkillId }, new { @class = "signup-skill" })
            
            <span class="label label-success skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon icon-ok"></i> @item.SkillName
            </span>
        }

    </h4>
}

<script>
    $(document).ready(function () {
        $(".skill-label").tooltip();
    });

</script>