@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@foreach (var item in Model)
{
    <h4>
        @if (!item.OwnedByUser)
        {
            <span class="label label-info skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon  icon-plus-sign" ></i> 
                @Html.ActionLink(@item.SkillName, "PreviewSkill", "Skill", new { skillId = item.SkillId },
                new { @class = "preview-link" })
            </span>
        }
        else
        {
            <span class="label label-success skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon icon-ok"></i> @Html.ActionLink(@item.SkillName, "Index", "Skill", new { skillId = @item.SkillId }, new { @class = "signup-skill" })
            </span>
        }

    </h4>
}

<script>
    $(document).ready(function () {
        $(".skill-label").tooltip();
    });

</script>