@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@foreach (var item in Model)
{
    <div class="search-skill-holder">
        @if (!item.OwnedByUser)
        {
            @*@Ajax.ActionLink("Sign Up", "SignUpForSkill", "Skill", new { skillId = item.SkillId }, new AjaxOptions()
            {
                HttpMethod = "GET",

                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "signup-message"
            }, new { @class = "signup-skill" })*@

            
            
            <span class="label label-info skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon  icon-plus-sign" ></i> 
                @Html.ActionLink(@item.SkillName, "PreviewSkill", "Skill", new { skillId = item.SkillId },
                new { @class = "preview-link" })
            </span>
        }
        else
        {
            <span class="label label-success skill-label" data-toggle="tooltip" data-placement="right"
                  title="@item.SkillDescription">
                <i class="icon icon-ok"></i> @Html.ActionLink(@item.SkillName, "Index", "Skill", new { skillId = @item.SkillId }, new { @class = "signup-skill" })
            </span>
        }

    </div>
}
