@model IEnumerable<LearningSystem.App.ViewModels.SkillViewModel>

@{
    ViewBag.Title = "My Achievements";
}

<h1 class="text-center extra-margin-top">@ViewBag.Title</h1>

@if (Model.Any())
{
    <h2 class="text-center">My Skills</h2>

    <div class="text-center">
        @foreach (var item in Model)
        {
            if (item.CompletePercent == 100)
            {
                <a href="/Skill/Index?skillId=@item.SkillId" title="@item.SkillDescription" class="skill-container btn btn-inverse"
                   data-toggle="tooltip" data-placement="bottom">
                    <img src="~/img/course-completed.jpg" width="110" height="115" alt="Finished" />
                    @Html.DisplayFor(modelItem => item.SkillName) -
                    @item.CompletePercent%
                </a>
            }
            else
            {
                <a href="/Skill/Index?skillId=@item.SkillId" title="@item.SkillDescription" class="skill-container btn btn-info"
                   data-toggle="tooltip" data-placement="bottom">
                    <img src="~/img/course-not-finished.jpg" width="110" height="115" alt="Not finished" />
                    @Html.DisplayFor(modelItem => item.SkillName) -
                    @item.CompletePercent%
                </a>
            }
        }

    </div>
}
else
{
    <h3>You don't have any completed skills. Go to our skills page and improve your qualities!</h3>
}


<script>
    $(document).ready(function () {
        $(".skill-container").tooltip();
    });

</script>
