@model LearningSystem.App.Models.ErrorModel
@*@model System.Web.Mvc.HandleErrorInfo*@
@{
    //Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";

}
<div class="errorContainer">
        @if (Model != null)
        {
            @*var errorMessage = "";
            switch (Model.HttpStatusCode)
            {
                case 400: { errorMessage = "400 - Bad Request!"; break; }
                case 401: { errorMessage = "401 - Unauthorized!"; break; }
                case 402: { errorMessage = "402 - Payment Required!"; break; }
                case 403: { errorMessage = "403 - Forbidden!"; break; }
                case 404: { errorMessage = "404 - Not Found!"; break; }
                case 405: { errorMessage = "405 - Method Not Allowed!"; break; }
                case 406: { errorMessage = "406 - Not Acceptable!"; break; }
                case 407: { errorMessage = "407 - Proxy Authentication Required!"; break; }
                case 408: { errorMessage = "408 - Request Timeout!"; break; }
                case 409: { errorMessage = "409 - Conflict!"; break; }
                case 410: { errorMessage = "410 - Gone!"; break; }
                case 411: { errorMessage = "411 - Length Required!"; break; }
                case 412: { errorMessage = "412 - Precondition Failed!"; break; }
                case 413: { errorMessage = "413 - Request Entity Too Larg!"; break; }
                case 414: { errorMessage = "414 - Request-URI Too Lone!"; break; }
                case 415: { errorMessage = "415 - Unsupported Media Type!"; break; }
                case 416: { errorMessage = "416 - Requested Range Not Satisfiable!"; break; }
                case 417: { errorMessage = "417 - Expectation Failed!"; break; }
            }
            <h2>@errorMessage</h2>*@
            <h2>@(Model.HttpStatus + "!")</h2>
        }
    
    <div class="list-header clearfix">
        <span>Sorry but there is an error in your request: </span>
    </div>
    
        <img src="/img/Azure_Dragon.jpg" width="200" />
            @if (Model != null) // && HttpContext.Current.IsDebuggingEnabled)
            {
                <div>
                    <p>
                        <b>Exception:</b> @Model.Exception.Message<br />
                        <b>Controller:</b> @Model.ControllerName<br />
                        <b>Action:</b> @Model.ActionName
                    </p>
                </div>
                <div id="moreInfo" style="overflow:scroll; display:none">
                    <pre>
                        @Model.Exception.StackTrace
                    </pre>
                </div>
            }
        <a href="#" id="btn-moreInfo" onclick="displayMoreInfo()">See more.</a>
        @Html.ActionLink("Go to home page", "index", "Home")
    </div>


<script>
    var displayMoreInfo = function () {
        $("#moreInfo").toggle();
        var button = $("#btn-moreInfo");
        if (button.html() == "See more.") {
            button.html("Hide details.");
        }
        else {
            button.html("See more.");
        }

    }
</script>
