@model System.Web.Mvc.HandleErrorInfo
@{
    //Layout = "_Layout.cshtml";
    ViewBag.Title = "Error";
    var err = Server.GetLastError();
}
<div class="errorContainer">
    <div class="list-header clearfix">
        <span>Sorry but there is an error in your request: </span>
    </div>
    <div class="list-sfs-holder">
        
        <img src="/img/Azure_Dragon.jpg" width="200" />
        @System.Diagnostics.Process.GetCurrentProcess().Id


        @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
        {
            <div>
                <p>
                    <b>Exception:</b> @Model.Exception.Message<br />
                    <b>Controller:</b> @Model.ControllerName<br />
                    <b>Action:</b> @Model.ActionName
                </p>
                <div id="moreInfo" style="overflow:scroll; display:none">
                    <pre>
                    @Model.Exception.StackTrace
                    </pre>
                </div>
                <a href="#" id="btn-moreInfo" onclick="displayMoreInfo()">See more.</a>
                @Html.ActionLink("Go to home page", "index", "Home")
            </div>
        }
    </div>
</div>

<script>
    var displayMoreInfo = function () {
        $("#moreInfo").toggle();
        var button = $("#btn-moreInfo");
        if (button.html() == "See more.") {
            button.html("Hide details.");
        }
        else {
            button.html("See more.");
        }

    }
</script>
