@model LearningSystem.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Skill</legend>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lessons)
        </dt>
        @foreach (var item in Model.Lessons)
        {
            <dd>
                @Html.RouteLink(item.Name, "~/Administration/Lesson/Detail", new { id = "LessonId" })
            </dd>
        }       

    </dl>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SkillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
