@model LearningSystem.App.ViewModels.SkillViewModel

@{
    ViewBag.Title = Model.SkillName;
    int currentLevel = 1;    
}
@Html.ActionLink("back to search", "Search", "Home", null, new { @class = "btn" })

<h2>@Model.SkillName</h2>
@if (ViewBag.IsSignedIn)
{
    @Html.ActionLink("Sign Up", "SignUpForSkill", "Skill", new { skillId = Model.SkillId }, null)
}
else
{
        
    @:You must be logged in to sign up a skill. (@Html.ActionLink("Go to registration page...", "Index", "Splash")) 
}

<div id="signup-message" class="span3 absolute"></div>
<div class="row-fluid pagination-centered">
    @foreach (var group in Model.Lessons)
    {
        <hr />
        <h4>level @(currentLevel++)</h4>
        <div class="row-fluid lesson-row">

            @foreach (var item in group)
            {
                <a class="btn btn-info lesson skill-container" data-toggle="tooltip" data-placement="bottom"
                       title="@item.Description">
                    <img src="~/img/lesson-not-completed.jpg" width="110" height="115" alt="Preview skill" />
                    @item.Name
                </a>
            }

        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $(".lesson").tooltip();
    });

</script>